$color-black-1: #000;

$color-gray-1: #6b6b6b;
$color-gray-2: #dde2e5;
$color-gray-3: #F5F7FB;
$color-gray-4: #B2C1C7;

$color-white-1: #fff;
$color-white-2: #f5f7fb;
$color-white-3: #fde8e9;

$color-blue-1: #03a87c;
$color-blue-2: #23576d;
$color-blue-3: #013145;
$color-blue-4: #003145;

$color-red-1: #ED2028;

$color-black-trans-1: rgba($color-black-1, .1);
$color-black-trans-2: rgba($color-black-1, .35);
$color-blue-trans-1: rgba($color-blue-1, .7);
