%bg-no-repeat {
  background-repeat: no-repeat;
}

%bg-center {
  background-position: center;
}

%bg-cover {
  background-size: cover;
}

%bg-contain {
  background-size: contain;
}

%icon-close {
  background-image: url($uri-close);
  @extend %bg-no-repeat;
}

